---
import { Picture } from 'astro:assets';
import img from '~/assets/tito_xd-walk-by-frankuwu.png';
import MarkdownLayout from '~/layouts/MarkdownLayout.astro';
---

<MarkdownLayout title="About" description="About this site." currentNav="About">
	<Picture
		class="lg:float-left lg:ml-4 lg:w-2/5"
		src={img}
		formats={['avif', 'webp', 'png']}
		alt="Tito_XD original character walking posture by artist Frankuwu"
	/>
	<p>
		nameless nobody but still exploring this world.
	</p>
	<p>
		want to make 21 grams interesting.
	</p>
	<p>
		lives in Hubei, Wuhan and working as marketing, website maintainer.
	</p>
</MarkdownLayout>
