---
import { Picture } from 'astro:assets';
import img from '~/assets/tito_xd-coffee-master-by-frankuwu.png';
import { SiteDescription, SiteTitle } from '~/config';
import MarkdownLayout from '~/layouts/MarkdownLayout.astro';
---

<MarkdownLayout
	title={SiteTitle}
	description={SiteDescription}
	hide={['title', 'comments']}
	currentNav="Home"
>
	<div class="flex flex-col items-center gap-4 xl:flex-row">
		<Picture class="lg:max-w-sm" src={img} formats={['avif', 'webp']} alt="Tito_XD original character coffee master ver. by artist Frankuwu" loading="eager" />
		<div>
			<h1>Hi there! <br>路上辛苦了我是 Tito_XD，<br>喝点什么？☕️</h1>
			<p>
				我是 Tito_XD，也可以叫我头头👋
<p>最近写东西的想法越来越多，还好年前已经把这里"装修"个差不多了。</p>
<p>总归是想长点记性，也想要表达出来一些什么，总归还是碎碎念了，如果我的寥寥几字也能让你驻足停看，那也不错，谢谢。</p>
<a href="/posts/rewind-2024">2024 年的 REWIND 在这里</a>，欢迎光临，请开心。
			</p>
		</div>
	</div>
</MarkdownLayout>
