---
import { Picture } from 'astro:assets';
import img from '~/assets/tito_xd-walk-by-frankuwu.png';
import { SiteDescription, SiteTitle } from '~/config';
import MarkdownLayout from '~/layouts/MarkdownLayout.astro';
---

<MarkdownLayout
	title={SiteTitle}
	description={SiteDescription}
	hide={['title', 'comments']}
	currentNav="Home"
>
	<div class="flex flex-col items-center gap-4 xl:flex-row">
		<Picture class="lg:max-w-sm" src={img} formats={['avif', 'webp']} alt="Tito_XD original character walking by artist Frankuwu" loading="eager" />
		<div>
			<h1>Hi there! <br>我是 Tito_XD，<br>也可以叫我头头👋</h1>
			<p>
				思来想去拖了很久终于还是又把这个小角落又捡起来了，虽然早些时候已经买好了VPS但还是懒得一点点搭，换一种实现方法也许可以倒逼自己接触一些新东西。也是一种走出舒适圈的方式，也可能会有新的收获。
<p>生活和工作都渐渐踏上正轨，总归还是要有所沉淀才好，时常想要写下来一些什么东西记录一下，但是总是因为各种理由拖欠着，直到下一次再有所思时才发觉：又是这个感觉，但是当时的我又是怎么样的呢？</p>
<p>总归是想长点记性，也想要表达出来一些什么，比起有没有人听我讲这件事更重要的也许是我首先要讲出口，这是前提，然后才是然后。</p>
新一年的 REWIND 也会放在这里，总之谢谢你在这里，请开心。
			</p>
		</div>
	</div>
</MarkdownLayout>
