---
import { Icon } from 'astro-icon/components';
import { Hide, SiteBrand, SiteTitle } from '~/config';

const brandClasses =
	SiteBrand.variant === 'icon'
		? `${SiteBrand.widthClass} ${SiteBrand.heightClass}`
		: undefined;
---

{
	!Hide.includes('logo') ? (
		<a
			transition:persist
			href="/"
			aria-label="go to index"
			class:list={['site-brand', brandClasses]}
		>
			{
				SiteBrand.variant === 'icon' ? (
					<Icon name={SiteBrand.icon} title="go to index" class="site-brand__icon" />
				) : (
					SiteTitle
				)
			}
		</a>
	) : (
		<div />
	)
}

<style>
	.site-brand {
		display: inline-flex;
		align-items: flex-start;
		justify-content: flex-start;
		width: fit-content;
		max-width: min(100%, 14rem);
		flex-shrink: 1;
		text-decoration: none;
	}

	.site-brand :global(svg),
	.site-brand__icon {
		display: block;
		height: 100%;
		width: auto;
		max-width: 100%;
	}

	@media (min-width: 1024px) {
		.site-brand {
			max-width: 20rem;
		}
	}
</style>
