---
interface Props {
	currentNav?: string;
}
const { currentNav } = Astro.props;

const navs = [
	{ name: 'Home', href: '/' },
	{ name: 'Blog', href: '/blog' },
	{ name: 'Friends', href: '/friends' },
	{ name: 'Tags', href: '/tags' },
	{ name: 'Archives', href: '/archives' },
	{ name: 'About', href: '/about' },
];
---

<nav>
	<ul class="flex flex-col gap-3 font-default-sans lg:flex-row">
		{
			navs.map((nav) => (
				<li>
					<a
						href={nav.href}
						class="text-neutral-700 opacity-75 hover:opacity-100 dark:text-neutral-50"
						aria-label={`Navigate to ${nav.name}`}
						aria-current={currentNav === nav.name ? 'page' : undefined}
					>
						{nav.name}
					</a>
				</li>
			))
		}
	</ul>
</nav>
